<ion-header>
  <header-title [title]="pageTitle"></header-title>
</ion-header>


<ion-content padding>
  <button ion-button block>New Chat</button>
  <chat-room-list [chatRooms]="chats" (openChatRoom)="openChat($event)"></chat-room-list>
</ion-content>
