<div>
  <ion-list *ngIf="chatRooms.length > 0">
    <ion-item *ngFor="let c of chatRooms" (click)="openChat(c)">
      <h2>{{c.name}}</h2>
      <p>{{c.lastMessage.text}}</p>
      <ion-note item-end>{{c.lastMessage.time | date:'hh:mm' }}</ion-note>
    </ion-item>
  </ion-list>


  <ion-item *ngIf="chatRooms.length === 0">
    <p>There are no open chat rooms</p>
  </ion-item>
</div>
