page-chat-room {

  .message {
      padding: 10px !important;
      transition: all 250ms ease-in-out !important;
      border-radius: 10px !important;
      margin-bottom: 4px !important;
  }

  .my_message {
      background: color($colors, primary) !important;
      color: #000 !important;
  }

  .other_message {
      background: #dcdcdc !important;
      color: #000 !important;
  }

  .message_row {
      background-color: #fff;
  }
}
