
<ion-header>
  <header-title [title]="chatRoom?.name"></header-title>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor='let m of messages'>

      <ion-col col-9 *ngIf="m.from !== nickname" class="message other_message" >
          <chat-message [message]="m"></chat-message>
      </ion-col>

      <ion-col offset-3 col-9 *ngIf="m.from === nickname" class="message my_message" >
        <chat-message [message]="m"></chat-message>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-row class="message_row">

        <ion-col col-9>
          <ion-item no-lines>
            <ion-input type="text" name="messageText" [(ngModel)]="messageText" placeholder="Type your message here..."></ion-input>
          </ion-item>
        </ion-col>


        <ion-col col-3>
          <button ion-button block color="primary" (click)="sendMessage(messageText)" [disabled]="!messageText || messageText.trim().length == 0">Submit</button>
        </ion-col>

      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
